<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1.6.3" android:versionName="1.6.3" package="com.companyname.Nester.Deploy" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<application android:label="Nester.Deploy.Android" android:icon="@drawable/xamarin_logo"></application>
</manifest>