<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="7.0.1" targetFramework="uap10.0" />
  <package id="Flurl" version="2.3.0" targetFramework="uap10.0" />
  <package id="Flurl.Http" version="1.1.2" targetFramework="uap10.0" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="uap10.0" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="uap10.0" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.0-preview1-002111" targetFramework="uap10.0" />
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="5.3.3" targetFramework="uap10.0" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="uap10.0" />
  <package id="PCLAppConfig" version="0.3.2" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.SfChart" version="15.2.0.40" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.SfListView" version="15.2.0.40" targetFramework="uap10.0" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="uap10.0" />
  <package id="System.Reflection.TypeExtensions" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Security.Claims" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="uap10.0" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="uap10.0" />
  <package id="Xamarin.Forms.Pages" version="2.3.4.247" targetFramework="uap10.0" />
  <package id="Xamarin.Forms.Theme.Base" version="1.0.0.43-pre1" targetFramework="uap10.0" />
  <package id="Xamarin.Forms.Theme.Light" version="1.0.0.43-pre1" targetFramework="uap10.0" />
</packages>